.vBox {
 	-fx-background-color: #FFAA00;
 	-fx-background-radius: 0 0 20px 20px;
 	-fx-border-radius: 0px 0px 20px 20px;
 	-fx-border-width: 2px;
 	-fx-border-style: solid;
 	-fx-pref-width: 300px;
 	-fx-alignment: center;
 }

 .vBox:hover {
 	-fx-background-color: #EEBB11;
 }